@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}






<div class="text-center">
    <h4 class="display-4" style="text-align:center">Welcome to Organo Pleno</h4>
    <h5  style="text-align:center"> - A fictional website for Pipe Organ</h5>

    <div class="text-center mt-5">
        <h5>What is an Pipe Organ? Take a look at the video below!</h5>
        <iframe class="mt-lg-5" width="885" height="500" src="https://www.youtube.com/embed/uRqR9-akXEo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5 class="mt-5">And how does it roar? Check out this &darr;</h5>
        <iframe class="mt-lg-5" width="885" height="500" src="https://www.youtube.com/embed/4S6BErQs-HE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <p>For more details of a Pipe Organ, please take some time at the <a href="https://en.wikipedia.org/wiki/Pipe_organ" target="_blank">Pipe Organ Wikipedia Page</a></p>





   

</div>
