@page
@{
    ViewData["Title"] = "Masters";
}
<div class="text-center">
    <h2>Masters</h2>
    <h3> - See what humans can do with their hands and feet</h3>
</div>
<div class="text-center">
    <iframe class="mt-lg-5" width="885" height="500" src="https://www.youtube.com/embed/Qk40cJLgRTY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="mt-lg-5" width="885" height="500" src="https://www.youtube.com/embed/SfS14rpl0OI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>